jupyterhub==4.1.6
jupyter-jsc-custom==0.13.1
jupyterhub-forwardbasespawner==1.1.3
jupyterhub-outpostspawner==1.1.2
jupyterhub-unicorespawner==1.1.2
kubernetes==30.1.0
m2crypto==0.43.0
oauthenticator>=17.3.0
pyunicore==1.2.0
