jupyterhub==5.4.3
jupyter-jsc-custom==2.3.17
jupyterhub-forwardbasespawner==2.1.0
jupyterhub-outpostspawner==2.1.0
jupyterhub-unicorespawner==2.1.0
jupyterhub-credit-service==0.3.11
kubernetes==33.1.0
m2crypto==0.46.2
oauthenticator>=17.3.0
pyunicore==1.3.5
